.header {
    grid-area: header;
    background-color: #203040;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    color: white;
    padding: 1rem;
}

.item:hover {
    color: orangered;
}

.item.active {
    color: orangered;
}

.logo {
    padding: 1rem;
    color: orangered;
    font-size: 3rem;
    font-weight: bold;
}